__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
*.log
*.bak*
*.out
*.err
*.sh
*.csv

*.venv
*.envrc

*.ts

check_progress.py
medstdcalc.py
plot_ambi_logs.py
check_size.py
plot_test.py

build/
dist/
logs/
photo/
plots/
models/
plots_bpp_psnr/